<!DOCTYPE html>
<html>
  <head>
    <title>RailsTemplate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-warning text-center text-white">
    <header>
      <div class="badge badge-danger">
      <h3>
       <%= "Signed in as #{current_user.name}" if signed_in? %>
       </h3>
      </div>
      <div>
      <%= link_to "My Page", user_path(current_user.id),
      class: "btn btn-primary my-2 text-white" if signed_in? %>
      <%= link_to 'Sign In', sessions_new_path,
      class: "btn btn-primary my-2 text-white" unless signed_in? %>
      <%= link_to 'Sign Out', sessions_destroy_path,
      class: "btn btn-primary my-2 text-white" if signed_in? %>
      <%= link_to 'All Users', users_path,
      class: "btn btn-primary my-2 text-white" if signed_in? %>
      </div>
    </header>
    <div class="m-auto border border-danger">
    <%= yield %>
    </div>
  </body>
</html>
